html {
    background-color: #EFD3DF;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    margin-left:auto;margin-right:auto;
  }

  .next {
      align-content: right;
  }